@import url("base.css");

#header{
	width: 100%;
	height: 40px;
	background: #444;
}
/*头*/

#nav{
	width: 100%;
	height: 44px;
	background: rgba(0,0,0,0.8);
}
.nav{
	max-width: 980px;
	padding: 0 22px;
	margin: 0 auto;
	line-height: 44px;
	position: relative;
}
.nav .big{
	width: auto;
	height: 44px;
	margin: 0 -10px;
	text-align: center;
}
.nav .big li{
	width: auto;
	height: 44px;
	width: 11.11%;
	float: left;
	overflow: hidden;
}
.nav .big a{
	display: block;
	padding: 0 10px;
	height: 44px;
	opacity: 1;
	margin: 0 auto;
}
.nav .big .a1{
	width: 20px;
	background: url(../images/apple1.svg) no-repeat center center;
	background-size: 20px 44px;
}
.nav .big .a2{
	max-width: 52px;
	background: url(../images/nav2.svg) no-repeat center center;
}
.nav .big .a3{
	max-width: 51px;
	background: url(../images/ipad.svg) no-repeat center center;
}
.nav .big .a4{
	max-width: 81.6px;
	background: url(../images/iphone.svg) no-repeat center center;
}
.nav .big .a5{
	max-width: 81.6px;
	background: url(../images/watch.svg) no-repeat center center;
}
.nav .big .a6{
	max-width: 68px;
	background: url(../images/music.svg) no-repeat center center;
}
.nav .big .a7{
	max-width: 96.9px;
	background: url(../images/j.svg) no-repeat center center;
}
.nav .big .a8{
	width: 20px;
	background: url(../images/search.svg) no-repeat center center;
}
.nav .big .a9{
	width: 18px;
	background: url(../images/nav8.svg) no-repeat center center;
}
.nav .big a:hover{
	opacity: 0.8;
}
.nav .small{
	width: auto;
	height: 48px;
	display: none;
}
.nav .small li:nth-of-type(1){
	width: 48px;
	height: 48px;
	position: absolute;
	left: 0;
	top: 0;
}
.nav .small li:nth-of-type(1) span:nth-of-type(1){
	width: 17px;
	height: 1px;
	background: #fff;
    position: absolute;
    left: 16px;
    top: 22px;
}
.nav .small li:nth-of-type(1) span:nth-of-type(2){
	width: 17px;
	height: 1px;
	background: #fff;
    position: absolute;
    left: 16px;
    bottom: 22px;
}
.nav .small li:nth-of-type(2){
	width: 48px;
	position: absolute;
	left: 50%;
	margin-left: -24px;
	top: 0;
}
.nav .small li a{
	display: block;
	padding: 0 16px;
	height: 48px;
}
.nav .small li:nth-of-type(2) a{
	background: url(../images/apple1.svg) no-repeat center center;
	background-size: 21px 49px;
}
.nav .small li:nth-of-type(3){
	width: 48px;
	position: absolute;
	right: 0;
	top: 0;
}
.nav .small li:nth-of-type(3) a{
	background: url(../images/nav8.svg) no-repeat center center;
	background-size: 19px 48px;
	width: 18px;
}

/*navigation*/


#banner{
	width: 100%;
	min-height: 540px;
	position: relative;
	/*overflow: hidden;*/
	z-index: 1;
}
.banner{
	min-height: 540px;
	position: relative;
	overflow: hidden;
}
.banner a{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.banner a span{
	display: block;
	background-size: contain;
	width: 100%;
	height: 110%;
	background: url(../images/banner.jpg) no-repeat bottom center;
	position: absolute;
	background-size: 100%;
	top: 0;
	left: 0;
}
.banner a .font{
	position: absolute;
	top: 14%;
    height: 86%;
    width: 100%;
    z-index: 20;
    text-align: center;
}
.banner a .font h1{
	width: 95px;
	height: 24px;
	position: absolute;
	left: 50%;
	margin-left: -47.5px;
	background-image: url(../images/banner1.png);
	background-repeat: no-repeat;
	background-size: 95px 24px;
	z-index: 1000;
}
.banner a .font h2{
	font-size: 42px;
	line-height: 4;
	font-weight: 200;
	margin-top: 0.3em;
	padding-left: 0.5em;
	text-align: center;
	color: #fff;
}
.banner a .font h2 span{
	font-size: 37px;
	color: #fff;
}
/*banner*/

/*banner下面*/
#list{
	width: 100%;
	height: auto;
	border-bottom: 2px solid #fff;
	overflow: hidden;
}
#list ul{
	height: auto;
	width: 100%;
	overflow: hidden;
}
#list ul li{
	width: 25%;
	height: 200px;
	border-top: 2px solid#fff;
	border-right: 2px solid #fff;
	box-sizing: border-box;
	float: left;
	position: relative;
	z-index: 1000;
}
#list ul li a{
	width: 100%;
	height: 200px;
	display: block;
}
#list ul li:nth-of-type(1) a{
	background: url(../images/list1.jpg) no-repeat center center;
}
#list ul li:nth-of-type(2) a{
	background: url(../images/list2.jpg) no-repeat center center;
}
#list ul li:nth-of-type(3) a{
	background: url(../images/list3.jpg) no-repeat center center;
}
#list ul li:nth-of-type(4) a{
	background: url(../images/list4.jpg) no-repeat center center;
}

/*footer*/
#footer{
	font-size: 12px;
	font-weight: 400;
	color: #666;
	width: 100%;
	min-width: 1024px;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	/*background: #CCCCCC;*/
}
.footer{
	max-width: 980px;
	margin: 0 auto;
	padding: 0 22px;
	font-size: 1em;
	text-align: inherit;
	overflow: hidden
}
.footer .t{
	font-size: 12px;
	line-height: 1.3333;
	font-weight: 400;
	padding: 5px 0;
}
.footer .mid{
	line-height: 1.7;
	font-size: 12px;
	font-weight: 400;
	position: relative;
	z-index: 10;
	padding-top: 10px;
	border-top: 1px solid #E3E3E3;
}
.item{
	width: 20%;
	position: relative;
	min-height: 2px;
	float: left;
}
.item h3{
	font-weight: 700;
	color: #333;
}

.item ul{
	margin-right: 20px;
	padding: calc(0);
}
.item ul li{
	width: 100%;
}
.item ul li a{
	color: #666;
}
.item ul li a:hover{
	text-decoration: underline;
}
/*footer*/

@media screen and (min-width: 1000px){
	.gg{
		max-width: 976px;
		text-align: right;
		line-height: 40px;
		text-overflow: ellipsis;
		color: #a8a8a8;
		font-size: 12px;
		font-family:  "HanHei SC", "PingHei", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 0 auto;
		overflow: hidden;
	}
	/*头*/
	
	#list ul li{
		width: 25%;
		height: 200px;
		border-top: 2px solid#fff;
		border-right: 2px solid #fff;
		box-sizing: border-box;
		float: left;
		position: relative;
		z-index: 1000;
	}
}
@media screen and (min-width: 767px) and (max-width: 1000px){
	.gg{
		width: auto;
		padding: 0 25px;
		text-align: right;
		line-height: 40px;
		text-overflow: ellipsis;
		color: #a8a8a8;
		font-size: 12px;
		font-family:  "HanHei SC", "PingHei", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 0 auto;
		overflow: hidden;
	}	
	/*头*/
	
	#list ul li{
		width: 50%;
		height: 200px;
		border-top: 2px solid #fff;
		border-right: 2px solid #fff;
		box-sizing: border-box;
		float: left;
		position: relative;
		z-index: 1000;
		margin: 0;
		padding: 0;
	}
	#list ul li:nth-of-type(1) a{
		background: url(../images/list1-z.jpg) no-repeat center center;
	}
	#list ul li:nth-of-type(2) a{
		background: url(../images/list2-z.jpg) no-repeat center center;
	}
	#list ul li:nth-of-type(3) a{
		background: url(../images/list3-z.jpg) no-repeat center center;
	}
	#list ul li:nth-of-type(4) a{
		background: url(../images/list4-z.jpg) no-repeat center center;
	}
	
	/*footer*/
	#footer{
		font-size: 12px;
		font-weight: 400;
		color: #666;
		width: 100%;
		position: relative;
		box-sizing: border-box;
		/*background: #CCCCCC;*/
	}
	.footer{
		max-width: 980px;
		margin: 0 auto;
		padding: 0 22px;
		font-size: 1em;
		text-align: inherit;
		overflow: hidden;
	}
	.footer .t{
		font-size: 12px;
		line-height: 1.3333;
		font-weight: 400;
		padding: 5px 0;
	}
	.footer .mid{
		line-height: 1.7;
		font-size: 12px;
		font-weight: 400;
		position: relative;
		z-index: 10;
		padding-top: 10px;
		border-top: 1px solid #E3E3E3;
	}
	.item{
		width: 20%;
		position: relative;
		min-height: 2px;
		float: left;
	}
	.item h3{
		font-size: 12px;
		font-weight: 700;
		color: #333;
	}
	.item ul{
		margin-right: 20px;
		padding: calc(0);
	}
	.item ul li{
		width: 100%;
	}
	.item ul li a{
		color: #666;
	}
	.item ul li a:hover{
		text-decoration: underline;
	}
/*footer*/
	
}
@media screen and (max-width: 767px){
	#header{
		width: 100%;
		height: 44px;
		background: #444;
	}
	.gg{
		padding: 0 16px;
		text-align: right;
		line-height: 44px;
		text-overflow: ellipsis;
		color: #a8a8a8;
		font-size: 16px;
		font-family:  "HanHei SC", "PingHei", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 0 auto;
		overflow: hidden;
	}	
	/*头*/
	
	#nav{
		width: 100%;
		min-width: 320px;
		height: 48px;
		background: rgba(0,0,0,0.8);
		font-size: 18px;
	}
	.nav .big{
		display: none;
	}
	.nav .small{
		display: block;
	}

	/*navigation*/
	
	/*banner*/
	.banner a .font h1{
		width: 72px;
		height: 18px;
		position: absolute;
		left: 50%;
		margin-left: -47.5px;
		background-image: url(../images/banner1.png);
		background-repeat: no-repeat;
		background-size: 72px 18px;
		z-index: 1000;
	}
	.banner a .font h2{
		font-size: 32px;
		line-height: 4;
		font-weight: 200;
		margin-top: 0.3em;
		padding-left: 0.5em;
		text-align: center;
		color: #fff;
	}
	.banner a .font h2 span{
		font-size: 18px;
		color: #fff;
	}
	
	
	#list ul li{
	width: 100%;
	height: 200px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	box-sizing: border-box;
	float: left;
	position: relative;
	z-index: 1000;
	margin: 0;
	padding: 0;
	}
	#list ul li:nth-of-type(1) a{
		background: url(../images/list1-d.jpg) no-repeat center center;
	}
	#list ul li:nth-of-type(2) a{
		background: url(../images/list2-d.jpg) no-repeat center center;
	}
	#list ul li:nth-of-type(3) a{
		background: url(../images/list3-d.jpg) no-repeat center center;
	}
	#list ul li:nth-of-type(4) a{
		background: url(../images/list4-d.jpg) no-repeat center center;
	}
	.footer{
		margin: 0 auto;
		padding: 16px 0 11px;
		font-size: 1em;
		text-align: inherit;
		overflow: hidden;
	}
	.footer .item ul{
		display: none;
	}
	.item{
		width: 100%;
		margin: 0 ;
	}
	.item h3{
		font-size: 14px;
		border-bottom: 1px solid #e3e3e3;
	}
	.item h3 .btn{
		float: right;
		margin-right:30px;
		color: #333;
		cursor: pointer;
		/*display: none;*/
	}
	/*.item h3 .btn{
		display: block;
	}*/
}
